<section class="section app" id="leave-application">
  <h2 class="title">Leave an <span>application</span></h2>
  <p class="ubtitle">
    Please use the form below to contact us. Enter your name, email, and message
    and we'll get back to you shortly.
  </p>
  <div class="image-wrapper">
    <img src="" alt="" />
    <p class="image-title">1000</p>
    <p class="image-descr">
      of our online English language lessons! This journey has been full of
      discovery, growth and unforgettable moments, and we are happy to share
      this joyful event with you.
    </p>
  </div>
  <form action="" class="form">
    <input type="text" placeholder="Name" />
    <input type="email" placeholder="Email" />
    <input type="tel" placeholder="Phone" />
    <textarea
      name=""
      id=""
      cols="30"
      rows="10"
      placeholder="Comment"
    ></textarea>
    <input type="radio" name="teacher" />
    <input type="radio" name="teacher" />
    <input type="radio" name="teacher" />
    <input type="radio" name="teacher" />
    <button type="submit">Send</button>
    <p class="policy">
      By clicking on “Send” button, you agree to our Privacy Policy, and allow
      Promodo to use this information for marketing purposes.
    </p>
  </form>
</section>
