<section class="application-section" id="leave-an-application">
  <h2 class="application-title">Leave an <span>application</span></h2>
  <p class="application-subtitle">
    Please use the form below to contact us. Enter your name, email, and message
    and we'll get back to you shortly.
  </p>
  <div class="application-image-wrapper">
    <img class="application-image" srcset="../img/application.png 1x, ../img/application@2x.png 2x"
      src="../img/application.png" alt="Computer monitor" width="492" height="392" />
    <p class="application-image-title">1000</p>
    <p class="application-image-descr">
      of our online English language lessons! This journey has been full of
      discovery, growth and unforgettable moments, and we are happy to share
      this joyful event with you.
    </p>
  </div>
  <form class="application-form">
    <label class="application-label"><input class="application-input-field" type="text" placeholder="Name"
        required /></label>
    <label class="application-label"><input class="application-input-field" type="email" placeholder="Email"
        required /></label>
    <label class="application-label"><input class="application-input-field" type="tel" placeholder="Phone"
        required /></label>
    <label class="application-textarea"><textarea class="application-textarea-field" name="textarea"
        placeholder="Comment"></textarea></label>
    <p class="application-radio-btn-title">Choose a teacher</p>
    <label class="application-radio-label"><input type="radio" name="teacher" value="Maria" checked /> Maria</label>
    <label class="application-radio-label"><input type="radio" name="teacher" value="Artem" />Artem</label>
    <label class="application-radio-label"><input type="radio" name="teacher" value="Ilona" />Ilona</label>
    <label class="application-radio-label"><input type="radio" name="teacher" value="Volodymyr" />Volodymyr</label>
    <button type="submit">Send</button>
    <p class="application-policy">
      By clicking on &#34;Send&#34; button, you agree to our Privacy Policy, and allow
      Promodo to use this information for marketing purposes.
    </p>
  </form>
</section>